In [27]:
import requests
import pandas as pd

In [32]:

export_URL = 'https://oec.world/olap-proxy/data?cube=trade_i_baci_a_92&drilldowns=Year,Exporter Country&measures=Trade Value&parents=true&Year=2021&HS6=1030212&properties=Exporter Country ISO 3'
import_URL = 'https://oec.world/olap-proxy/data?cube=trade_i_baci_a_92&drilldowns=Year,Importer Country&measures=Trade Value&parents=true&Year=2021&HS6=1030212&properties=Importer Country ISO 3'

req_import = requests.get(export_URL).json()
req_export = requests.get(import_URL).json()

country_list = list()
export_value_list = list()
import_value_list = list()

for export_data, import_data in zip(req_import['data'], req_export['data']):
    country_list.append(export_data['Country'])
    export_value_list.append(export_data['Trade Value'])
    import_value_list.append(import_data['Trade Value'])


df = pd.DataFrame(
    {
        'Country': country_list, 
        'Export value': export_value_list, 
        'Import value': import_value_list
    }
).sort_values('Export value', ascending=False).reset_index(drop=True)

display(df)

           Country  Export value  Import value
0           Norway  7.189568e+09     7647136.0
1           Sweden  3.402953e+09     1777090.0
2          Denmark  9.460821e+08     2339141.0
3            Chile  8.683343e+08       94377.0
4   United Kingdom  8.501492e+08      145200.0
..             ...           ...           ...
81         Morocco  4.420000e+02       21773.0
82          Mexico  2.530000e+02    58175949.0
83      Mozambique  1.210000e+02        1276.0
84            Oman  2.600000e+01     1749013.0
85     Switzerland  6.000000e+00     1610185.0

[86 rows x 3 columns]